#travelLog {
  width: 30%;
}

.planetsContainer {
  width: 100%;
  background-image: url("../img/space-background.en.png");
  background-repeat: repeat;
  background-color: #21213d;
  background-size: cover;
  border-radius: 30px;
  border: 0;
}

.planetHolder img {
  max-width: 100%;
  cursor: pointer;
}

.planetDescription {
  color: whitesmoke;
  text-align: center;
}

.planetName {
  color: whitesmoke;
  text-align: center;
}

.content img, #game img, #lightbox-container-image {
  padding: 10px;
}

body{
  background-color: rgb(24, 21, 43);
  color: whitesmoke;
}

#printout{
  position: fixed;
  margin:auto;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  background-color: teal;
}

